body {
    padding: 15px;
    background: #f3f3ff;
    font-weight: 500;
    overflow-x: hidden;
}
body * {
    font-family: 'Satoshi', sans-serif !important;
}
header a {
    text-decoration: none;
    color: inherit;
}
footer a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-weight: 900;
    font-size: calc(30px + 1.6vw);
}
.presentation h2 {
    font-size: calc(18px + 0.4vw);
    font-weight: 500;
    margin-top: .2rem;
    max-width: 700px;
}
.chart-wrapper {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 3px .2rem rgba(100, 120, 255, .2);
    min-height: 600px;
    transition: all .3s ease-in;
}
.chart-wrapper:hover {
    box-shadow: 0 0 3px .2rem rgba(100, 120, 255, .4);
}
@media (max-width: 700px) {
    .chart-wrapper {
        width: 100vw;
        transform: translateX(-15px);
    }
}

.MuiOutlinedInput-input {
    font-size: 1.1rem !important;
    font-weight: bold !important;
}

.sources {
    color: #818080;
}

.MuiInputLabel-root {
    font-size: 1.1rem !important;
}
legend {
    font-size: 0.8rem !important;
}

.climate-lab-link {
    padding: 8px 16px;
    border-radius: 16px;
    -webkit-transition: -webkit-background .2s,-webkit-transform .2s;
    transition: -webkit-background .2s,-webkit-transform .2s;
    transition: background .2s,transform .2s;
    transition: background .2s,transform .2s,-webkit-background .2s,-webkit-transform .2s;
}
.climate-lab-link:hover {
    background-color: #e5e9ff;
}
.climate-lab {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
@media (max-width: 700px) {
    .app-title {
        display: none !important;
    }

    .climate-lab {
        font-size: 0.8rem;
        margin: auto;
    }

    .climate-lab > div {
        margin-right: 0 !important;
    }

    .climate-lab-link {
        padding: 6px 12px;
    }
}