body {
    padding: 15px;
    background: #EEF1FB;
}
.settings-wrapper {
    background: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 20px 30px;
}
.chart-wrapper {
    height: calc(80vh - 2rem);
    border-radius: 16px;
}